<header class="header">
  <div class="container header-container">
    <!-- Logo,  -->
    <nav class="header-nav">
      <a class="logo link" href="./index.html"
        ><svg class="" width="24" height="24">
          <use href="/src/images/icons.svg#icon-logo"></use></svg
        ><svg class="" width="77" height="13">
          <use href="/src/images/icons.svg#icon-Bookshelf"></use></svg
      ></a>
      <!-- icon-Bookshelf -->
      <!-- HOME, SHOPPING LIST -->
      <ul class="header-nav-list list">
        <li>
          <a class="nav-list-item current link" href=".">HOME</a>
        </li>
        <li>
          <a class="nav-list-item link" href="/src/shopping-list.html"
            >SHOPPING LIST</a
          ><svg class="" width="20" height="20">
            <use href="/src/images/icons.svg#icon-cart"></use>
          </svg>
        </li>
      </ul>
    </nav>
    <!-- checkbox, Sign up, Menu-burger -->
    <ul class="header-theme-authorization">
      <li>
        <label class="switch">
          <input type="checkbox" class="switch__input" />
          <span class="switch__slider"></span>
        </label>
      </li>
      <li>
        <button
          class="menu-toggle"
          aria-expanded="true"
          aria-controls="mobile-menu"
          data-menu-burger-open
        >
          <svg class="" width="28" height="28">
            <use href="/src/images/icons.svg#icon-align-left"></use>
          </svg>
        </button>
      </li>
      <!-- <li>
        <button
          type="button"
          class="js-button button-sign-up"
          data-sign-up-open
        >
          Sign up
        </button>
      </li> -->
      <li>
        <button type="button" class="js-button button-user" data-sign-up-open>
          <span class="icon-wrapper"
            ><svg class="user-icon" width="19" height="19">
              <use href="/src/images/icons.svg#icon-user"></use></svg
          ></span>
          Stephan<svg class="" width="28" height="28">
            <use href="/src/images/icons.svg#icon-caret-down"></use>
          </svg>
        </button>
      </li>
      <!-- <li>
        <button type="button" class="js-button button-log-up visually-hidden">
          Log out
        </button>
      </li>     -->
    </ul>
  </div>
</header>
