<header class="header">
  <div class="container header-container">    
    <nav class="header-nav">
      <svg class="" width="18" height="18">
        <use href=".../src/images/icons.svg#icon-logo"></use>
      </svg>
      <a class="logo link" href="./index.html">Bookshelf</a>
      <ul class="header-nav-list list">
        <li>
          <a class="nav-list-item current link" href=".">HOME</a>
        </li>
        <li>
          <a class="nav-list-item link" href="../src/shopping-list.html"
            >SHOPPING LIST</a
          ><svg class="" width="20" height="20">
            <use href="./images/"></use>
          </svg>
        </li>
      </ul>
    </nav>
    <ul class="header-theme-authorization">
      <li>
        <label class="switch">
          <input type="checkbox" class="switch__input" />
          <span class="switch__slider"></span>
        </label>
      </li>
      <li>
        <button type="button" class="js-button button-sign-up">
          Sign up<svg width="" height="">
            <use href="./images/"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="js-button button-sign-up">
          Sign up<svg width="" height="">
            <use xlink:href=".../src/images/icons.svg#icon-charm_menu-hamburger>
            </use>           
          </svg>
         </button>
        </li>
        <li><button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        ><svg width="24" height="24" stroke="currentColor">
            <use xlink:href=".../src/images/icons.svg#icon-charm_menu-hamburger></use>  
          </svg>
        </button>
     </li>      
    </ul>
  </div>
</header>
