.backdrop {
  background: #4f2ee8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.backdrop-sign-in {
  background: #111;
}

.modal {
  position: relative;
  margin: 127px auto;
  padding: 80px 40px 40px;
  max-width: 579px;
  height: 516px;

  border-radius: 18px;
  border: 2px solid #111;
  color: rgba(17, 17, 17, 0.5);
  background: #f6f6f6;

  @include font-auth;
  .close-modal-btn {
    position: absolute;
    right: 18px;
    top: 18px;
    background-color: transparent;
    border: none;
  }
  .close-modal-svg {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
  .form-login {
    display: flex;
    flex-direction: column;
  }

  input {
    display: flex;
    width: 499px;
    padding: 20px 173px 20px 40px;
    align-items: center;

    border-radius: 40px;
    border: 2px solid #111;

    &:placeholder-shown {
      @include font-auth;
      color: #111;
    }
  }
  label + label {
    position: relative;
    margin-top: 28px;
  }
  .modal-svg {
    position: absolute;
    right: 18px;
    top: -42px;
  }
  .btn {
    margin-top: 40px;
    display: flex;
    width: 499px;
    padding: 20px 173px;
    justify-content: center;
    align-items: flex-start;

    color: #f3f3f3;
    @include font-auth;

    border-radius: 40px;
    background: #111;
  }
  .list-auth {
    margin-top: 18px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .modal-svg-login {
    width: 50px;
    height: 50px;
  }
}
