
// Category Title
.category-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.32px;
    color: $rgba-2;
    @include tablet {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.36px;
    }
}

.category-title:hover,
.category-title:focus {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: $color-violet;
}


.category-title, .category-list {
    margin-bottom: 24px;
    color: rgba(17, 17, 17, 0.60);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.32px;
    
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 24px;    
}

.item-category:hover,
.item-category:focus {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    color: $color-violet;
}

.active-category{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    color: $color-violet;
}
//-----------scroll bar------------------------------

.scrollbar {
    padding-top: 5px;
    float: left;
    height: 228px;   
    width: 100%;
    overflow-y: scroll; 
    margin-bottom: 40px;   
}
@media screen and (min-width: 768px) {
    .scrollbar {
        height: 472px;
                
    }
}

.force-overflow {
    min-height: 450px;

}

#style-1::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

#style-1::-webkit-scrollbar {
    width: 8px;
    height: 114px;
    background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #E0E0E0;
}