@import '~node_modules/modern-normalize/modern-normalize.css';
@import './mixins';

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll{
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Response
.container {
  // width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @include mobile {
    min-width: 375px;
  }
  @include tablet {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    min-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
