@import '~node_modules/modern-normalize/modern-normalize.css';
@import './mixins';

html[data-theme='light'] {
  --background-clr: #f6f6f6;
  --main-text-clr: #111111;
  --header-clr: #ffffff;
  --scroll-bar-clr: #e0e0e0;
  --active-category-clr: #4f2ee8;
  --category-text-clr: rgba(17, 17, 17, 0.6);
  --shopping-list-clr: rgba(0, 0, 0, 0.6);
  --modal-bg: #ffffff;
  --text-btn-sign: #ffffff;
  // login modal
  --background-modal: #fff;
  --close-modal-btn: #111111;
  --background-btn-sign: #111111;
  --text-btn-sign: #ffffff;
  --text-btn-sign-hover: #ffffff;
  --background-input: #ffffff;
  ---text-input: #111111;
  --border-input: #111111;
  //home
  --see-more-background: #ffffff;
  --see-more-text: #111111;
  --home-title-first: #111111;
  //shop list
  --shop-list-item-text: #111111;
  --shop-list-item-back: #ffffff;
  --shop-list-icon-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  --category-text-clr: rgba(17, 17, 17, 0.6);
  --shopping-list-clr: rgba(0, 0, 0, 0.6);
  --modal-bg: #ffffff;
  //footer
  --footer-modal-bg: linear-gradient(
    360deg,
    rgba(79, 46, 232, 0.8),
    rgba(220, 220, 220, 0.8)
  );
  // shops
  --shop-icon-grayscale: grayscale(100%);
  --shop-icon-amazon: grayscale(100%);
  --shop-icon-drop-shadow: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

html[data-theme='dark'] {
  --background-clr: #202024;
  --main-text-clr: #ffffff;
  --header-clr: #111111;
  --scroll-bar-clr: rgba(17, 17, 17, 0.6);
  --active-category-clr: #eac645;
  --category-text-clr: rgba(255, 255, 255, 0.6);
  --shopping-list-clr: rgba(255, 255, 255, 0.6);
  --modal-bg: #202024;
  // login modal
  --background-modal: #111;
  --close-modal-btn: #ffffff;
  --background-btn-sign: #ffffff;
  --text-btn-sign: #111111;
  --text-btn-sign-hover: #ffffff;
  --background-input: #111111;
  ---text-input: #ffffff;
  --border-input: #ffffff;
  //home
  --see-more-background: #111111;
  --see-more-text: #ffffff;
  --home-title-first: #ffffff;
  //shop list
  --shop-list-item-text: #ffffff;
  --shop-list-item-back: #111111;
  --shop-list-icon-filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --shop-icon-filter-standart: grayscale(100%);
  //footer
  --footer-modal-bg: #111111;
  // shops
  --shop-icon-drop-shadow: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --shop-icon-amazon: brightness(0) invert(1);
  //----- (except Amazon)------
  --shop-icon-grayscale: grayscale(100%);
}

// Common Setting For Shopping-List-HTML
body {
  font-family: DM Sans;
  font-style: normal;
  color: var(--main-text-clr);
  background-color: var(--background-clr);
  transition: background-color 100ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Aside Section
sidebar {
  padding-top: 40px;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  max-width: 375px;

  @include tablet {
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;

    min-width: 768px;
  }

  @include desktop {
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;

    min-width: 1440px;
  }
}
