@import '../../node_modules/slick-carousel/slick/slick.scss';
// @import "../../node_modules/slick-carousel/slick/slick-theme.scss";

/* Mobile styles $ >*/
.fonds__common {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  max-width: 335px;
  height: 352px;
  border-radius: 16px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  @include desktop {
    max-width: 356px;
  }
}

.support__Ukraine {
  color: #fff;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.09;
  letter-spacing: -0.96px;
  @include tablet-desktop {
    font-size: 24px;
    line-height: 1.16;
  }
}

.trident {
  width: 20px;
  height: 32px;
}

.common__title {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
  align-items: center;
}

.number__list {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.img__fonds {
  width: auto;
  max-height: 32px;
  mix-blend-mode: luminosity;
  filter: brightness(0) invert(1);
}
.fonds__link {
  text-decoration: none;
}
.item_link {
  display: flex;
  gap: 16px;
  align-items: center;
}

.fonds__item {
  margin-bottom: 20px;
  height: 32px;
}

.fonds__list {
  padding: 0px 0px 0px 0px;
}

// arrows
.slick-arrow {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  border: none;
  background-color: white;

  padding: 0;
  cursor: pointer;
  font-size: 0px;
}

.slick-prev {
  position: absolute;
  // display: none;
}

.slick-next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  height: 38px;
  margin-top: 24px;
  border-radius: 50%;
  bottom: -30px;
  &::before {
    content: url(/src/images/fonds/arrow_down.svg);
  }
}

@media only screen and (min-width: 768px) {
  .fonds__common {
    height: 474px;
  }
  .support__Ukraine {
    font-size: 24px;
  }
}
