.footer{
    display: none;
 
}
@include tablet-desktop{
    .footer {
        display: block;
        margin-top: auto;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        
        padding-top: 24px;
        padding-bottom: 24px;
        
        text-align: center;
        background-color: var(--background-clr);
        border: 1.5px solid var(--main-text-clr);
        border-radius: 8px 8px 0px 0px;
    
}

    .footer-text {
        font-size: 16px;
        line-height: 1.12;
        font-weight: 700;
        text-transform: uppercase;
}

    .dream-team-link {
        text-decoration: underline;
        color: $color-violet;
        cursor: pointer;
}

    .dream-team-span{
        color: $color-violet;
}

    .footer-close-modal-btn {
        position: fixed;
        top: 5;
        right: 5;
    
        display: flex;
        align-items: center;
    
        width: 45px;
        height: 45px;
    
        border: none;
        background-color: transparent;
        cursor: pointer;
}
    
    .footer-close-modal-icon {
        width: 100%;
        height: 100%;
        fill: var(--main-text-clr);
}

    .footer-close-modal-btn:hover 
    .footer-close-modal-icon:hover,
    .footer-close-modal-icon:focus,
    .footer-close-modal-btn:focus,
   
    .icon-github:hover
     {
        fill: $color-violet;
    }

    .footer-title:hover,
    .footer-title:focus{
        color: $color-violet;
    }
    .footer-modal-container{
        position: fixed;
        top: 50%;
        left: 50%;
        
        display: block;
        
        transform: translate(-50%, -50%);
        
        width: 760px;
        max-height: 95vh;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 24px;
        padding-right: 24px;
        
        overflow: auto;
        background-color: var(--modal-bg);
        border: solid 2px var(--main-text-clr);
        border-radius: 20px;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        background-image: var(--footer-modal-bg);
}

    .team-lead {
        display: flex;
        flex-direction: column;
        gap: 8px;
    
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

    .team-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px
    
}

    .team-item{
        width: calc(25% - 14px);
}

    .team-item-second{
        width: calc((100% - 60px) / 4);
}

    .footer-title{
        font-size: 16px;
        line-height: 1.12;
        text-transform: uppercase;
}

    .footer-modal-text{
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 1.16;
}

    .footer-modal-link{
        cursor: pointer;
}

    .icon-heart{
        width: 24px;
        height: 24px;
}
    .icon-github{
        width: 24px;
        height: 24px;
}
}


//--------------------------CSS Animation------------------------------------------------------------

/* Настройки маркированного списка */
.hover-effect-scale {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    text-align: center;
    list-style: none;
    border: none;
}

.hover-effect-scale li {
    position: relative;
    display: inline-block;
    
    padding: 5px;
    margin: 0;

    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
}

/* Заголовок, текст и ссылка */
.hover-effect-scale li h3 {
    margin: 5px;
    color: #fff;
}

.hover-effect-scale li p {
    margin: 5px;
    color: #fff;
}

.hover-effect-scale li a {
    display: block;
    padding: 15px;
    margin: 0 auto;

    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.hover-effect-scale li a:hover {
   color: #fff;
}

/* Выезжающий блок с текстом */
.hover-effect-scale li>div {
    position: absolute;
    display: flex;
    justify-content:end;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.hover-effect-scale li:hover>div {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hover-effect-scale li div {
    opacity: 0;
    /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
    border-radius: 50%;
}

.hover-effect-scale li img {
    transition: all 0.2s linear;
}

.hover-effect-scale li:hover img {
    transform: scale(1.2);
}

.hover-effect-scale li:hover div {
    opacity: 1;
}

//-------------------------------Entrances-------------------------
.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

//-----------------------------------Text-----------------------------------------------
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}