@import './variables';

/* Mobile styles $ >*/
.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--main-text-clr);
  background: var(--header-clr);

  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include tablet {
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 768px;
  }
  @include desktop {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
  @include tablet-desktop {
    height: 72px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 28px;
  width: 109px;
}
.header-nav {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-nav-list {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-nav-list {
    margin-left: 76px;
  }
}
.header-theme-authorization {
  display: flex;
  align-items: center;

  height: 28px;
  margin-left: auto;
}
.header-nav {
  display: flex;
}

.header-nav-list {
  display: none;

  @include tablet-desktop {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.header-nav-list-item {
  display: flex;
  gap: 4px;
}
.current {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;

  font-weight: 700;

  border-radius: 36px;
  background: #eac645;
}

.menu-toggle {
  padding: 0;
  height: 28px;

  border: none;
  background-color: transparent;

  @include tablet-desktop {
    display: none;
  }
}

.button-sign-up {
  @include sign-up-btn;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .button-user.hidden-mob,
  .hidden-mob {
    display: none;
  }
  .sign-up-mobile,
  .user-mob {
    position: absolute;
    top: 90px;
    left: 10px;
  }
  .logout-mob {
    position: absolute;
    bottom: 10px;
    left: 10px;
    align-items: center;
    display: flex;
  }
}
.button-log-out {
  width: 118px;
  height: 48px;

  flex-shrink: 0;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
  padding: 15px 24px;

  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;

  @include tablet-desktop {
    display: flex;
    position: absolute;

    width: 184px;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.svg-button-log-out {
  margin-left: auto;
}
.button-user {
  @include sign-up-btn;
  margin: 0;
  padding: 8px 12px;

  border-radius: 36px;
  @include tablet-desktop {
    display: flex;

    height: 45px;
  }
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 37px;
  height: 37px;

  border-radius: 50%;
  background-color: $color-white;
}

.bookshelf-logo {
  fill: var(--main-text-clr);
}
// .user-icon {
// }
/* styles for toggle container */
.switch {
  display: inline-block;
  position: relative;

  width: 40px;
  height: 20px;
  margin-right: 24px;
}

/* hide standart checkbox */
.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;
  background: $gradient-1;
  transition: 0.4s;
}

.switch__slider::before {
  content: '';
  position: absolute;
  cursor: pointer;

  left: 1px;
  bottom: 1px;
  height: 18px;
  width: 18px;
  border-radius: 50%;

  background-color: $color-white;
  transition: 0.4s;
}

/* styles for focus */
.switch__input:focus + .switch__slider {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

/* styles for choice */
.switch__input:checked + .switch__slider {
  background: $gradient-2;
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(20px);
}

.switcher-wrrap {
  margin-left: auto;
}
.logout-hidden {
  opacity: 1;
}

//styles for burger button
#burger-btn {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burger-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $color-black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger-btn span:nth-child(1) {
  top: 0px;
}

#burger-btn span:nth-child(2),
#burger-btn span:nth-child(3) {
  top: 9px;
}

#burger-btn span:nth-child(4) {
  top: 18px;
}

#burger-btn.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#burger-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger-btn.open span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%;
}

.burger-nav-list {
  margin-top: 247px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 17px;
}
.authorized.display-none,
.unauthorized.display-none {
  display: none;
}
