.all-top {
  padding-top: 72px;
  margin-bottom: 40px;
}

.container-home-page {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-books {
  width: 335px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.wrapper {
  margin-bottom: 40px;
}

/**
  |============================
  |   H1 - H3 
  |============================
*/

.marker {
  color: $color-violet;
}

// -----------------------------
.title-book {
  width: 335px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
}

.category {
  margin-bottom: 40px;
  

  color: $color-black;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -1.92px;
}
// -----------------------------

// .book-title {
//   color: $color-black;
//   font-family: DM Sans;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 1.13;
//   letter-spacing: -0.64px;
//   max-width: 180px;
// }

// ------------------------------
// .book-author {
//   color: $color-grey;
//   font-family: DM Sans;
//   font-size: 12px;
//   font-style: italic;
//   line-height: 1.17;
//   letter-spacing: -0.48px;
// }

.book-author,
.js-author-book {
  color: $color-grey;
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;
  margin-top: 4px;
}
// ------------------------------

.js-category-name {
  color: $color-grey;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

// .book-title {
//   color: $color-black;
//   font-family: DM Sans;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 1.13;
//   letter-spacing: -0.64px;
//   max-width: 180px;
// }

.book-title,
.js-named-book {
  margin-top: 14px;
  color: $color-black;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
  |============================
  |  BUTTON
  |============================
*/

.js-btn-books {
  width: 124px;
  height: 46px;
  color: $color-black;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 2px solid $color-violet;
  margin-left: auto;
  margin-top: 8px;
  padding: 14px 28px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  white-space: nowrap;
}

.js-btn-books:hover,
.js-btn-books:focus {
  cursor: pointer;
  background-color: $color-violet;
  color: $color-white;
}

/**
  |============================
  | LIST  -  ITEM
  |============================
*/

.js-list-books,
.card-set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.book-img,
.img-books {
  width: 335px;
  height: 485px;
  border-radius: 8px;
}

.js-item-books,
.js-item-book {
  width: 335px;
  list-style: none;
  position: relative;
}

.js-item-book {
  margin-bottom: 40px;
}

.js-item-book:last-child {
  margin-bottom: 0px;
}

/**
  |============================
  |        767
  |============================
*/

@media screen and (max-width: 767px) {
  .js-item-books:nth-of-type(n + 2) {
    display: none;
  }
}

/**
  |============================
  |        768
  |============================
*/

@media screen and (min-width: 768px) {
  .aside-wrapper {
    display: flex;
    gap: 32px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }

  .container-home-page {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .container-books {
    width: 704px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .container-bestBooks {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 25px;
    width: 704px;
  }

  .wrapper {
    margin-bottom: 0;
    width: 704px;
  }

  .js-list-books,
  .card-set {
    gap: 25px;
    flex-direction: row;
  }

  .js-item-books,
  .js-item-book {
    width: calc((100% - 50px) / 3);
    margin-bottom: 0;
  }

  .book-img,
  .img-books {
    width: 218px;
    height: 316px;
  }
}

/**
  |============================
  |        1439
  |============================
*/

@media screen and (max-width: 1439px) {
  .js-item-books:nth-of-type(n + 4) {
    display: none;
  }
}

/**
  |============================
  |        1440
  |============================
*/

@media screen and (min-width: 1440px) {
  .aside-wrapper {
    flex-direction: column;
    gap: 86px;
  }

  .all-top {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 1440px;
    gap: 40px;
  }

  .container-home-page {
    max-width: 1440px;
    margin: 0;
    padding: 0;
  }

  .container-books {
    min-width: 996px;
    margin-top: 40px;
    margin-bottom: 72px;
  }

  .container-bestBooks {
    width: 996px;
    gap: 40px 24px;
  }

  .wrapper {
    width: 996px;
  }

  .js-list-books,
  .card-set {
    gap: 24px;
    flex-direction: row;
  }

  .js-item-books,
  .js-item-book {
    width: calc((100% - 96px) / 5);
  }

  .book-img,
  .img-books {
    width: 180px;
    height: 256px;
  }
}
