.mobile-menu {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
}
.burger {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding-top: 64px;
  background-color: white;
  position: fixed;
  display: flex;
}
.sign-burger-btn {
  @include sign-up-btn;
}

.burger-close-btn {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 30;
}
.burger-list-books {
  display: flex;
  flex-wrap: wrap;
  li {
    flex-basis: calc(100% * 12);
  }
}
.burger-wrapper-books {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
