@mixin font-auth {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  // line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
  text-transform: uppercase;
}
