$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$grey-text-color: #B4AFAF;
$letter-spacing: -0.04em;

.modal-backdrop {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    visibility: visible;
    opacity: 1;
    pointer-events: initial;

    transition: opacity 300ms linear, visibility 300ms linear;

    background-color: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(6px);
}

.modal-backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition-delay: 300ms;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 335px;
    max-height: 90vh;


    overflow: auto;
    background-color: $color-white;
    border: solid 2px $color-black;
    border-radius: 20px;
}

@media screen and (min-width: 768px) and (min-height:495px) {
    .modal-container {
        overflow: hidden;
    }
}

.close-modal-btn {
    position: fixed;
    top: 5;
    right: 5;

    display: flex;
    align-items: center;

    width: 36px;
    height: 36px;

    border: none;
    background-color: transparent;
}

.close-modal-icon {
    width: 100%;
    height: 100%;
}

.modal-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: $letter-spacing;
}

.modal-titles {
    display: flex;
    flex-direction: column;
    gap: 7px;

    padding-top: 14px;
    padding-bottom: 17px;
}

.modal-book-cover {
    width: 287px;
    height: 408px;

    border-radius: 10px;
    border: solid 1px $color-violet;
}

.modal-book-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
    text-transform: uppercase;
}

.modal-book-author {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16;

    color: $grey-text-color;
}

.modal-book-descr {
    font-size: 14px;
    line-height: 1.28;
    padding-bottom: 20px;
}

.modal-list-partners {
    display: flex;
    align-items: center;
    gap: 20px;

    padding-bottom: 40px;
}

.modal-item-partners {
    filter: grayscale(100%);
}

.modal-btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.modal-btn {
    width: 289px;
    height: 46px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.28;
    text-transform: uppercase;

    background-color: transparent;
    border-radius: 50px;
    border: solid 2px $color-violet;

}

.modal-congrats-text {
    width: 238px;

    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: $letter-spacing;
    text-align: center;

    color: $grey-text-color;
}

.modal-congrats-text.is-hidden {
    display: none;
}