a {
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    padding: 0;
    margin: 0;
}

ol, 
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

// img {
//     display: block;
//     width: 100%;
//     height: auto;
// }