<div class="modal-backdrop is-hidden">
  <div class="modal-container container">
    <button class="close-modal-btn" type="button">
      <svg class="close-modal-icon">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <img
        class="modal-book-cover"
        src="./images/empty-img_lap@_1x.png"
        alt="Book"
        width="287"
        height="458"
      />
      <div class="right-side-wrap">
        <div class="modal-titles">
          <h2 class="modal-book-name">name</h2>
          <h3 class="modal-book-author">Author</h3>
        </div>
        <p class="modal-book-descr">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eos
          aspernatur id. Illo tenetur, quod fugit, quae aliquid ab recusandae,
          cum quia veniam temporibus saepe dignissimos rem sint! Possimus,
          numquam?
        </p>
        <ul class="modal-list-partners">
          <li class="modal-item-partners">
            <a
              href="https://www.amazon.com/"
              class="modal-partners-link"
              target="_blank"
              rel="noopener no-referrer"
              ><img src="./images/shops/amazon.png" alt="Amazon"
            /></a>
          </li>
          <li class="modal-item-partners">
            <a
              href="https://www.apple.com/ua/apple-books/"
              class="modal-partners-link"
              target="_blank"
              rel="noopener no-referrer"
              ><img src="./images/shops/apple-shop.png" alt="Apple-shop"
            /></a>
          </li>
          <li class="modal-item-partners">
            <a
              href=""
              class="modal-partners-link"
              target="_blank"
              rel="noopener no-referrer"
            >
              <img src="./images/shops/book-shop.png" alt="Book-shop"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-btn-wrap">
      <button class="modal-btn" type="button">add to shopping list</button>
      <p class="modal-congrats-text is-hidden">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button &#8220;Remove from the shopping list&#8221;.
      </p>
    </div>
  </div>
</div>
