@include laptop {
    .modal-container{
        width:579px;
        height: 465px;
    }

    .close-modal-btn{
        width: 40px;
        height:40px;
        transition: fill 450ms $cubic-bezier;
    }

    .close-modal-btn:hover,
    .close-modal-btn:focus{
        fill: $color-violet;
    }

    .modal-wrapper{
        display: flex;
        gap: 24px;

        padding: 40px;
    }

    .modal-book-cover{
        width: 192px;
        height: 281px;
    }

    .modal-titles{
        padding-top: 0;
    }

    .modal-book-name{
        font-size: 24px;
        line-height: 1.16;
    }

    .modal-book-author{
        font-size: 14px;
        line-height: 1.28;
    }

        .modal-list-partners{
            transition: filter 450ms $cubic-bezier;
        }
  .modal-list-partners:hover, 
  .modal-list-partners:focus{
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .35));
  }

    .modal-btn{
        width: 449px;
        height: 64px;

        font-size: 18;
        line-height: 1.33;
        transition: background-color 550ms $cubic-bezier;
    }

    .modal-btn:hover,
    .modal-btn:focus{
        background-color: $color-violet;
    }

    .modal-congrats-text{
        width:318px;
        
        font-size: 12px;
        line-height: 1.16;
    }
}