<div class="fonds__common">
  <div class="common__title">
    <h2 class="support__Ukraine">Support Ukraine</h2>
    <svg class="trident">
      <use href="/src/images/icons.svg#icon-trident"></use>
    </svg>
  </div>

  <ul class="fonds__list"></ul>
</div>
<!-- <div class="squeres">
  <div style="width: 200px; height: 200px; background-color: red"></div>
  <div style="width: 200px; height: 200px; background-color: green"></div>
  <div style="width: 200px; height: 200px; background-color: blue"></div>
  <div style="width: 200px; height: 200px; background-color: red"></div>
  <div style="width: 200px; height: 200px; background-color: green"></div>
  <div style="width: 200px; height: 200px; background-color: blue"></div>
</div> -->
