<div class="fonds__common">
  <div class="common__title">
    <h2 class="support__Ukraine">Support Ukraine</h2>
    <svg class="trident">
      <use href="/src/images/icons.svg#icon-trident"></use>
    </svg>
  </div>

  <ul class="fonds__list">
    <li class="fonds__item">
      <a class="fonds__link" href="">
        <div class="item_link">
          <span class="number__list">01</span>
          <img
            class="img__fonds"
            src="/src/images/fonds/save-the-children.png"
            alt=""
          />
        </div>
      </a>
    </li>
  </ul>
</div>
